n8n/workflows/academy-bot-workflow.json
{
  "name": "Academy Support Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "academy-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "HTTP Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "academy-support-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.channel || $json.channel || '' }}",
              "operation": "equal",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "channel-router",
      "name": "Channel Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ ($env.BACKEND_BASE_URL || ('http://' + $env.BACKEND_HOSTPORT)) + '/api/query' }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.body?.userId || $json.userId || $json.body?.message?.from?.id || $json.message?.from?.id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body?.message || $json.message || $json.body?.text || $json.text }}"
            },
            {
              "name": "username",
              "value": "={{ $json.body?.username || $json.username || $json.body?.message?.from?.username || $json.message?.from?.username || 'telegram-user' }}"
            },
            {
              "name": "channel",
              "value": "telegram"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "telegram-query",
      "name": "Query Backend (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ ($env.BACKEND_BASE_URL || ('http://' + $env.BACKEND_HOSTPORT)) + '/api/query' }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.body?.userId || $json.userId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body?.message || $json.message }}"
            },
            {
              "name": "username",
              "value": "={{ $json.body?.username || $json.username || 'webhook-user' }}"
            },
            {
              "name": "channel",
              "value": "webhook"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "webhook-query",
      "name": "Query Backend (Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body?.escalated ?? $json.escalated ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "escalation-check",
      "name": "Escalation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.body?.reply || $json.reply || '', escalated: $json.body?.escalated ?? $json.escalated ?? false, confidence: $json.body?.confidence ?? $json.confidence ?? 0, latencyMs: $json.body?.latencyMs ?? $json.latencyMs ?? 0 } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.body?.reply || $json.reply || '', escalated: true, confidence: $json.body?.confidence ?? $json.confidence ?? 0, notice: 'A human advisor will contact you shortly.' } }}"
      },
      "id": "escalation-response",
      "name": "Escalation Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "HTTP Webhook Trigger": {
      "main": [
        [
          {
            "node": "Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Router": {
      "main": [
        [
          {
            "node": "Query Backend (Telegram)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Backend (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Backend (Telegram)": {
      "main": [
        [
          {
            "node": "Escalation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Backend (Webhook)": {
      "main": [
        [
          {
            "node": "Escalation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Check": {
      "main": [
        [
          {
            "node": "Escalation Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["academy", "support", "rag"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
